<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>{% block title %}{%  endblock %}</title>
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'home' %}" class="{% block mainActive %}{%  endblock %}" aria-current="page">Главная</a></li>
            <li class="nav-item"><a href="{% url 'add-order' %}" class="{% block addOrdersActive %}{%  endblock %}">Добавить заказ</a></li>
            <li class="nav-item"><a href="{% url 'show-all-orders' %}" class="{% block allOrdersActive %}{%  endblock %}">Вывести все заказы</a></li>
            <li class="nav-item"><a href="admin" class="nav-link">Админка</a></li>
          </ul>
        </header>
    </div>
    <div class="container">
        {% block content %}{%  endblock %}
    </div>
</body>
</html>