{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block mainActive %}
nav-link active
{%  endblock %}

{% block addOrdersActive %}
nav-link
{%  endblock %}

{% block allOrdersActive %}
nav-link
{%  endblock %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Тыж программист!</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Мы выбираем только проверенных мастеров. Мы ручаемся за качество. Мы даем гарантию на наши работы на целых 48 часов. Выкрикни "Тыж программист!". И мы появимся.</p>
        </div>
    </div>
{%  endblock %}
